:root {
  /* light mode colors */
  --lightmode-primary-1: #d1d6d8;
  --lightmode-primary-2: #c3d2da;
  --lightmode-primary-3: #85aec5;
  --lightmode-primary-4: #4f8cad;
  --lightmode-primary-5: #2a7fad;
  --lightmode-complement-1: #fffbf7;
  --lightmode-complement-2: #fff2e3;
  --lightmode-complement-3: #ffd7a7;
  --lightmode-complement-4: #ffbc6d;
  --lightmode-complement-5: #ffa233;

  /* light mode font colors */
  --lightmode-font-1: #fff2e3;

  /* light mode extras */
  --lightmode-shadow-1: #ababab;

  /* opacities */
  --lightondark-button-opacity-idle: 0.7;
  --lightondark-button-opacity-hover: 1;
  --lightondark-button-opacity-inactive: 0.3;
  --darkonlight-button-opacity-idle: 0.2;
  --darkonlight-button-opacity-hover: 0.54;
  --darkonlight-button-opacity-inactive: 0.3;
}
