@import "colors.css";
@import "fonts.css";
@import "forms.css";

/* reset browser default style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: var(--lightmode-primary-1);
}

header {
  padding: 1vh 1rem 1vh 1rem;
  background-color: var(--lightmode-primary-3);
  box-shadow: 0 1px 5px 0 var(--lightmode-shadow-1);
}

header div {
  display: inline-block;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active {
  font-size: 1.5em;
  color: var(--lightmode-font-1);
  text-decoration: none;
}

button {
  opacity: var(--lightondark-button-opacity-idle);
  cursor: pointer;
}

button:hover {
  opacity: var(--lightondark-button-opacity-hover);
}
